{% extends "books/base.html" %}

{% block content %}
{{ block.super }}
<div>
    <h3>Favorite Books</h3>
    {% if favorite_books %}
    <ul>
        {% for book in favorite_books %}
        <li>
            <div class="book-detail-block">
                <div>
                    <a href="{% url 'books:book-detail' book.pk %}" class="book-title">{{ book.title}}</a> - {{ book.author }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No favorite books yet.</p>
    {% endif %}
</div>

<div>
    <h3>Read-Later</h3>
    {% if read_later_books %}
    <ul>
        {% for book in read_later_books %}
        <li>
            <div class="book-detail-block">
                <div>
                    <a href="{% url 'books:book-detail' book.pk %}" class="book-title">{{ book.title}}</a> - {{ book.author }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No books in read-later list.</p>
    {% endif %}
</div>
{% endblock %}